*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    /* mudar para 100 depois */
    width: 90%;   
    height: 500px;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.spike{
    position: absolute;
    bottom: 0;
    width: 65px;
    animation: spike-animation 2s infinite linear;
}
.sonic{
    position: absolute;
    width: 135px;
    bottom: -25px;
}

.jump{
    animation: jump 700ms ease-out;
}
@keyframes spike-animation {
    from {
        right: -65px;
    }

    to{
        right: 100%;
    }
}

@keyframes jump {
    
    0%{
        bottom: -25px;
    }
    40%{
        bottom: 75px;
    }
    50%{
        bottom: 80px;
    }
    60%{
        bottom: 75px;
    }
    70%{
        bottom: 60px;
    }
    100%{
        bottom: -25px;
    }
}

