body,
html {
  height: 90%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

#gameBoard {
  width: 100%;
  height: 80%;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
}

.sWalking {
  width: 200px;
  bottom: -40px;
  /* menor que */
  /* bottom: 67px; */
  /* = game over */
  position: absolute;
}

.jump {
  animation: sonic-jumping 560ms linear;
}

.fail {
  animation: sonic-failing 800ms ease-out;
}

#spike {
  width: 70px;
  position: absolute;
  bottom: 0;
  /* menor que  */
  /* left: 125px; */
  /* = game over */
  animation: spike-animation infinite 3s linear;
}

@keyframes spike-animation {
  from {
    right: -100px;
  }

  to {
    right: 100%;
  }
}

@keyframes sonic-jumping {
  0% {
    bottom: -40px;
  }

  40% {
    bottom: 130px;
  }

  50% {
    bottom: 130px;
  }

  60% {
    bottom: 110px;
  }

  100% {
    bottom: -40px;
  }
}

@keyframes sonic-failing {
  0% {
    bottom: 0px;
  }

  40% {
    bottom: 100px;
  }

  50% {
    bottom: 100px;
  }

  60% {
    bottom: 60px;
  }

  100% {
    bottom: -100px;
  }
}
